{% extends 'base.html' %}
{% block title %}log in{% endblock %}

{% block body %}
<section>
    <form id="login" action="{{ url_for('login') }}" method="post">
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <div id="fields">
            <label for="user">username</label>
            <input id="user" class="bg_glow_gradient" name="username" type="text" maxlength="40" autofocus>
            <label for="pass">password</label>
            <input id="pass" class="bg_glow_gradient" name="password" type="password" maxlength="100">
        </div>
        <input type="submit" value="log in" style="cursor: pointer;">
        <input id="passkey" type="button" value="🗝 use passkey" style="cursor: pointer;">
    </form>
</section>
{% endblock %}
