<div id="file_navigate">
    <span class="location_select" onclick="composeFileList('')"><a style="width: 100%;" class="link">Home</a></span>
    {% for full_segment, segment in paths %}
    /
    <span class="location_select" onclick="composeFileList('{{ full_segment }}')"><a class="link" style="width: 100%;">{{ segment }}</a></span>
    {% endfor %}
</div>
<table id="file_list">
    <thead>
        <tr>
            <th class="file_icon"></th>
            <th class="file_name">Name</th>
            <th class="file_size">Size</th>
            <th class="file_properties"></th>
        </tr>
    </thead>
    <tbody>
        {% if not files %}
        <tr>
            <td></td>
            <td>
                <div style="text-align: center;">[ empty folder ]</div>
            </td>
            <td></td>
        </tr>
        {% endif %}
        {% for file_name, file_metadata in files.items() %}
        {% if anchor_navigation %}
            {% set onclick_func = "window.location.hash = '" + file_metadata.path + "';" %}
        {% else %}
            {% set onclick_func = "composeFileList('" + file_metadata.path + "');" %}
        {% endif %}
        <tr class="file_select">
            <td class="file_icon">
                <img src="{{ url_for('static', filename=file_metadata.icon + '.png') }}"
                alt="{{ file_metadata.icon }}.png" draggable="false" />
            </td>
            <td class="file_name">
                {% if file_metadata.type == 'dir' %}
                <a class="link" onclick="{{ onclick_func }}">
                {% else %}
                <a class="link" href="{{ url_for('retrieve_file', filename=file_metadata.path) }}" target="_blank">
                {% endif %}
                    <span>{{ file_name }}</span>
                </a>
            </td>
            <td class="file_size">
                <span>{{ file_metadata.size }}</span>
            </td>
            <td class="file_properties">
                <button>···
                    <div class="file_menu">
                        <div onclick="shareFile(this, '{{ file_metadata.path }}');">Sharing</div>
                        <div onclick="renameFile(this, '{{ file_metadata.path }}');">Rename</div>
                        <div style="color: red;" onclick="deleteFile(this, '{{ file_metadata.path }}');">Delete</div>
                    </div>
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
