<div id="file_navigate">
    <span class="location_select" onclick="composeFileList('')">Home</span>
    {% for full_segment, segment in paths %}
    /
    <span class="location_select" onclick="composeFileList('{{ full_segment }}')">{{ segment }}</span>
    {% endfor %}
</div>
<div id="file_list">
    {% for file_name, file_metadata in files.items() %}
    {% if file_metadata.get('type') == 'dir' %}
    <div class="file_select" onclick="composeFileList('{{ file_name }}')">
    {% else %}
    <div class="file_select">
    {% endif %}
        <img class="file_icon" src="" alt="{{ file_metadata.get('icon') }}.png"/>
        <span class="file_name">{{ file_name }}</span>
        <span class="file_size">Size: {{ file_metadata.get('size') }}</span>
    </div>
{% endfor %}
</div>