{% from "header.html" import header %}
{% extends "base.html" %}

{% block title %}files{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='file_view_style.css') }}">
{% endblock %}


{% block body %}
{{ header(request, username, access_level, "files") }}

<div id="file_container">
{{ list_files(files, current_directory_url, path_segments, access_level) }}
</div>

<dialog id="share_dialog">
    <form method="dialog" onsubmit="console.log('test');" id="share_form">
        <div>Sharing options for <div id="name_to_share"></div></div>
        <div>
            <label for="anon_access">Anonymous access?</label>
            <input type="checkbox" id="anon_access" name="anonymous_access" checked>
        </div>
        <div>
            <input type="submit" value="Share">
            <input type="button" onclick="document.getElementById('share_dialog').close();document.getElementById('share_form').reset();" value="Close">
        </div>
    </form>
</dialog>

<dialog id="upload_dialog">
    <form method="dialog" onsubmit="upload_files();" id="upload_form">
        <input type="file" name="files" multiple>
        <div>
            <label for="compression">Compression:</label>
            <input type="number" min="0" max="9" value="0" id="compression" name="compression_level">
        </div>
        <div>
            <input type="submit" value="Upload">
            <input type="button" onclick="document.getElementById('upload_dialog').close();document.getElementById('upload_form').reset();" value="Cancel">
        </div>
    </form>
</dialog>
{% endblock %}


{% block scripts %}
<script type="text/javascript">
    var PUBLIC = {{ in_public_folder | tojson }};
    var COMPOSER_URL = "{{ url_for('compose_file_view') }}";
    var UPLOAD_URL = "{{ url_for('upload') }}";
    var DELETE_URL = "{{ url_for('delete') }}";
    var CURRENT_DIRECTORY = "{{ path_segments[-1]['path'] if path_segments else '' }}";
</script>
<script type="text/javascript" src="{{ url_for('static', path='file_view.js') }}"></script>
{% endblock %}


{% macro create_path(current_directory_url, path_segments) %}
<div class="file_navigate">
    <a class="link location_select" href="/">HOME</a>
    {% if path_segments %}
    {% for segment in path_segments %}
    <span>/</span>
        <a class="link location_select" href="{{ current_directory_url }}/{{ segment['path'] }}">{{ segment["name"] }}</a>
    {% endfor %}
    {% endif %}
</div>
{% endmacro %}

{% macro list_files(files, current_directory_url, path_segments, access_level) %}
{{ create_path(current_directory_url, path_segments) }}
<div id="file_list">
{% if files %}
    {% for file in files %}
    <div class="file_select">
        {% if file["type"] == "public_directory" %}
        <a class="link" href="{{ url_for('get_public_files') }}">
        {% else %}
        <a class="link" href="{{ current_directory_url }}/{{ file['path'] }}">
        {% endif %}
            <img class="file_icon" src="{{ url_for('static', path='icons/icon-' + file['type'] + '.png') }}">
            <div class="file_name">{{ file["name"] }}</div>
            <div class="file_size">{{ file["size"] }}</div>
        </a>
        {% if file["type"] != "public_directory" and access_level >= 0 %}
        <div class="file_properties">
            <button>···
                <div class="file_menu">
                    <span title="{{ file['path'] }}">{{ file["name"] }}</span>
                    <div onclick="open_share_dialog('{{ file['path'] }}');">Sharing</div>
                    <div onclick=''>Rename</div>
                    <div style="color: crimson;" onclick="if (confirm('Delete {{ file['name'] }}?')) {delete_file('{{ file['name'] }}');}">Delete</div>
                </div>
            </button>
        </div>
        {% endif %}
    </div>
    {% endfor %}
{% else %}
<div>[ Empty folder ]</div>
{% endif %}
</div>
{% endmacro %}
