:root {
    --background-color: black;
    --drop-zone-color: darkcyan;
    --hover-background-color: rgb(36, 36, 36);
    --light-background-color: rgb(62, 62, 62);
    --header-hover-color: rgb(200, 200, 200);
    --header-selected-color: rgb(200, 200, 200);
    --header-selected-hover-color: white;
    --nav-color: #8675ef;
    --text-color: darkgrey;
    --logout-color: darkred;
    --logout-hover-color: crimson;
    box-sizing: border-box;
    color: var(--text-color);
}

header {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
/*    flex-wrap: wrap;*/
    font-size: 117%;
    gap: 1%;
    height: 5%;
    overflow-x: scroll;
    padding: 1% 2%;
    width: 100%;
}
.header_btn {
    background-image: linear-gradient(to top, var(--light-background-color) 50%, transparent 50%);
    background-size: 200% 200%;
    border: 2px solid var(--text-color);
    border-radius: 5px;
    cursor: pointer;
    padding: 0.3rem 0.3rem 0.2rem 0.3rem;
    transition: background-position 200ms ease-out, color 200ms ease;
    min-width: max-content;
}
.header_btn:hover {
    color: var(--header-hover-color);
    background-position: 0 100%;
}
header .selected {
    color: var(--header-selected-color);
    background-color: var(--light-background-color);
    background-image: linear-gradient(to top, var(--hover-background-color) 50%, transparent 50%);
}
header .selected:hover {
    color: var(--header-selected-hover-color);
}
.logout_btn {
    color: var(--logout-color);
}
.logout_btn:hover {
    color: var(--logout-hover-color);
}

a {
    color: var(--text-color);
    text-decoration: none;
}
a.link {
    color: var(--nav-color);
    display: inline-block;
    position: relative;
}
a.link::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 3px;
    transform: scaleX(0);
    transition: transform 0.3s ease-out;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #9401ff 0%, #1a0ff1 100%);
/*    background-color: var(--nav-color);*/
}

body {
    background-color: var(--background-color);
    margin: 0;
}

input {
    font-family: "Aldrich";
    font-size: 100%;
    max-width: 80vw;
}
input[type="submit"] {
    cursor: pointer;
    font-size: 150%;
    padding: 0.3rem 0.3rem 0.1rem 0.3rem;
}
form label {
    line-height: 150%;
}
input.bg_glow_gradient {
    background-color: transparent;
    background-image: linear-gradient(to top, var(--light-background-color) 25%, transparent 100%);
    background-size: 200% 200%;
    border: none;
    border-bottom: 4px solid var(--light-background-color);
    color: var(--text-color);
    outline: none;
    padding: 0.3rem 0.3rem 0.1rem 0.3rem;
    transition: background-position 200ms ease-out;
}
input.bg_glow_gradient:focus{
    background-position: 0 100%;
}

input.toggle {
    position: relative;
    height: 1.5rem;
    width: 2.75rem;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    /* border-radius: 9999px; */
    background-color: var(--light-background-color);
    transition: background-color 200ms ease-out;
}
input.toggle:disabled {
    opacity: 0.5;
}
input.toggle:checked {
    background-color: var(--nav-color);
}
input.toggle::before {
    position: absolute;
    content: "";
    left: calc(1.5rem - 1.25rem);
    top: calc(1.5rem - 1.3rem);
    display: block;
    height: 1rem;
    width: 1rem;
    cursor: pointer;
    border: 1px solid rgba(100, 116, 139, 0.527);
    /* border-radius: 9999px; */
    background-color: whitesmoke;
    box-shadow: 0 3px 10px rgba(100, 116, 139, 0.327);
    transition: transform 200ms ease-out;
}
input.toggle:hover::before {
    box-shadow: 0 0 0px 4px rgba(0, 0, 0, .15)
}
input.toggle:checked:hover::before {
    box-shadow: 0 0 0px 4px rgba(72, 219, 236, 0.15)
}
input.toggle:checked:before {
    transform: translateX(100%);
    border-color: var(--nav-color);
}

.error {
    color: brown;
}

/* Table row rounded edges */
td {
    --border-radius: 0.3rem;
}
td:first-child {
    border-top-left-radius:var(--border-radius);
    border-bottom-left-radius:var(--border-radius);
 }

 td:last-child {
    border-bottom-right-radius:var(--border-radius);
    border-top-right-radius:var(--border-radius);
 }
