{% extends 'base.html' %}
{% block title %}log in{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='login_style.css') }}">
{% endblock %}

{% block body %}
{% if banner %}
<div id="login_banner">
    {{ banner }}
</div>
{% endif %}
<section>
    <div id="login">
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% if next %}
        <form action="{{ url_for('login').include_query_params(next=next) }}" method="post">
        {% else %}
        <form action="{{ url_for('login') }}" method="post">
        {% endif %}
            <div id="fields">
                <label for="user">username</label>
                <input id="user" class="bg_glow_gradient" name="username" type="text" maxlength="40" autofocus autocomplete="username webauthn" required>
                <label for="pass">password</label required>
                <input id="pass" class="bg_glow_gradient" name="password" type="password" maxlength="100" autocomplete="current-password">
            </div>
            <input type="submit" value="log in">
        </form>
        <form action="{{ url_for('login_passkey') }} " method="post">
            <input id="passkey" type="submit" value="🗝 use passkey">
        </form>
        {% if can_enroll %}
        <a href="{{ url_for('enroll') }}" class="link">sign up</a>
        {% endif %}
    </div>
</section>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    var CHALLENGE_URL = "{{ url_for('passkey_challenge') }}"
</script>
<script type="text/javascript" src="{{ url_for('static', path='login_passkey.js') }}"></script>
{% endblock %}
