{% from "header.html" import header %}
{% extends "base.html" %}

{% block title %}settings{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='settings_style.css') }}">
{% endblock %}


{% block body %}
{{ header(request, username, access_level, "settings") }}
<div id="settings_container">
	<div id="settings_nav">
		<div id="settings" class="settings_section"><a href="#settings" class="settings_button">Account Settings</a>
			<div class="collapsed">
				<div>
					<span>Username: {{ username }}</span> <button onclick="document.getElementById('username_change').showModal()">Change</button>
				</div>
				{% if has_password %}
				<div>
					<button onclick="document.getElementById('password_change').showModal();">Change password</button>
				</div>
				<div>
					<button onclick="remove_password();">Remove Password</button>
				</div>
				{% else %}
				<div>
					<button onclick="document.getElementById('password_add').showModal();">Add Password</button>
				</div>
				{% endif %}
			</div>
		</div>
		<div id="shares" class="settings_section"><a href="#shares" class="settings_button">Share links</a>
			<div class="collapsed">
				<div>Your shares</div>
				<div id="existing_shares"></div>
			</div>
		</div>
	</div>
</div>

<dialog id="loading_dialog">
	<div>loading...</div>
</dialog>

<dialog id="username_change">
	<form method="dialog" id="username_change_form" onsubmit="change_username();">
		<div class="error" id="username_change_message"></div>
		<div>
			<label for="new_username">New username:</label>
			<input id="new_username" name="new_username" autocomplete="off" type="text">
		</div>
		<div>
			<input type="submit" value="Change"> <input type="button" value="Cancel" onclick="document.getElementById('username_change').close();">
		</div>
	</form>
</dialog>

<dialog id="password_change">
	<form method="dialog" id="password_change_form" onsubmit="change_password();">
		<div class="error" id="password_change_message"></div>
		<input type="text" name="username" autocomplete="username" hidden disabled value="{{ username }}">
		<div>
			<label for="old_password">Current password:</label>
			<input id="old_password" name="old_password" autocomplete="off" type="password">
		</div>
		<div>
			<label for="new_password">New password:</label>
			<input id="new_password" name="new_password" autocomplete="new-password" type="password" required>
		</div>
		<div>
			<label for="confirm_new_password">Confirm new password:</label>
			<input id="confirm_new_password" name="confirm_new_password" autocomplete="new-password" type="password" required>
		</div>
		<div><input type="submit" value="Change"> <input type="button" value="Cancel" onclick="document.getElementById('password_change').close();"></div>
	</form>
</dialog>

<dialog id="password_add">
	<form method="dialog" id="password_add_form" onsubmit="add_password();">
		<div class="error" id="password_add_message"></div>
		<input type="text" name="username" autocomplete="username" hidden disabled value="{{ username }}">
		<div>
			<label for="add_pass">New password:</label>
			<input id="add_pass" name="new_password" autocomplete="new-password" type="password" required>
		</div>
		<div>
			<label for="confirm_add_pass">Confirm new password:</label>
			<input id="confirm_add_pass" name="confirm_new_password" autocomplete="new-password" type="password" required>
		</div>
		<div><input type="submit" value="Change"> <input type="button" value="Cancel" onclick="document.getElementById('password_add').close();"></div>
	</form>
</dialog>
{% endblock %}


{% block scripts %}
<script type="text/javascript">
	const PASSWORD_ADD_URL = "{{ url_for('add_password') }}";
	const PASSWORD_REMOVE_URL = "{{ url_for('remove_password') }}";
	const PASSWORD_CHANGE_URL = "{{ url_for('change_password') }}";
	const USERNAME_CHANGE_URL = "{{ url_for('change_username') }}";
    const LIST_SHARE_URL = "{{ url_for('list_shares') }}";
    const DELETE_SHARE_URL = "{{ url_for('remove_share') }}";
    const FILE_URL = "{{ url_for('get_files') }}";
</script>
<script type="text/javascript" src="{{ url_for('static', path='settings.js') }}"></script>
{% endblock %}
